
.all-container {
  min-height: 100lvh;
  display: flex;
  flex-direction: column;
}

.container {
  margin: auto auto;
  max-width: 1200px;
  padding: 2rem;
  text-align: center;
}

.container p {
  line-height: 1.75;
  font-weight: 500;
}
