<div class="all-container">
  <app-nav-bar></app-nav-bar>
  <main class="container">
    <div>
      <div>
        <img
        src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Star_Wars_Logo.svg"
        alt="Star Wars logo"
        />
        <h1>Welcome to the Star Wars world!</h1>
        <p>
          This is a simple Angular application that uses the Star Wars API
          (SWAPI) to fetch and display information about movies, characters, and
          planets. You can search for movies by name, and click on the links to
          see detailed information about each item.
        </p>
      </div>
    </div>
  </main>
</div>
